$article-h4_FGCOLOR:                                            #fff;
$article_BGCOLOR:                                               #444;
$aside-current_element-link_BEFORE_BORDERCOLOR:                 $article_BGCOLOR;
$aside-current_element-link_FGCOLOR:                            #f90;
$aside-h4_BORDERCOLOR:                                          #c00;
$blockquote_BORDERCOLOR:                                        #777;
$body_BGCOLOR:                                                  #333;
$body_FGCOLOR:                                                  #ddd;
$docs_nav_mobile-select_BGCOLOR:                                #ddd;
$docs_nav_mobile-select_FGCOLOR:                                #000;
$footer_BGCOLOR:                                                #212121;
$free_hosting-pane_BGCOLOR:                                     #3e3e3e;
$header_BGCOLOR:                                                darken($body_BGCOLOR, 3%);
$improve-link_FGCOLOR:                                          #999;
$link-HOVER_FGCOLOR:                                            #F90;
$link_FGCOLOR:                                                  #Fc0;
$main_nav-current_element-link_BGCOLOR:                         #Fc0;
$main_nav-current_element-link_FGCOLOR:                         #222;
$main_nav-link-HOVER_BGCOLOR:                                   #252525;
$mobile_nav-current-link_BGCOLOR:                               #Fc0;
$mobile_nav-current-link_FGCOLOR:                               #222;
$mobile_nav-link_BGCOLOR:                                       #333;
$mobile_nav-link_FGCOLOR:                                       #Fc0;
$news-article_BORDERCOLOR:                                      #555;
$note-code_BGCOLOR:                                             #272727;
$note-code_FGCOLOR:                                             #fff;
$post_category_BGCOLOR:                                         #9e2812;
$post_category_BGCOLOR_GRADIENT_END:                            #6f0d0d;
$post_meta_FGCOLOR:                                             #C0c0c0;
$quickstart_BGCOLOR:                                            #3f1f1f;
$quickstart_FGCOLOR:                                            #Fff;
$section_nav-link-HOVER_BGCOLOR:                                #888;
$section_nav-link-HOVER_FGCOLOR:                                #Fff;
$section_nav-next-after_FGCOLOR:                                #222;
$section_nav-span_BGCOLOR:                                      #767676;
$section_nav-span_FGCOLOR:                                      #Fff;
$step_nav-current_element-link_FGCOLOR:                         $link-HOVER_FGCOLOR;
$step_nav_BGCOLOR:                                              #2b2b2b;
$step_nav_FGCOLOR:                                              #fc0;
$table_BGCOLOR:                                                 #555;
$th_FGCOLOR:                                                    #888;
$thead_BGCOLOR:                                                 #3a3a3a;
$thead_BGCOLOR_GRADIENT_END:                                    #1e1e1e;
$thead_FGCOLOR:                                                 #fff;
$tutorial_header_BORDERCOLOR:                                   #545454;
