---
layout: page
---

{{ content }}

{% if site.data.showcase %}

<ul class="showcase" id="showcase">
  {% for s in site.data.showcase reversed -%}
  <li>
    <a href="{{ s.url | relative_url }}" target="_blank">
      <figure>
        <div class="imageWrapper">
          <img loading="lazy" class="b-lazy" src="{{ '/assets/img/spacer.gif' | relative_url }}" alt="{{ s.name }}" width="404"
            data-categories="{{ s.categories | join: ',' }}"
            data-src="{{ s.image | relative_url }}">
        </div>
        <figcaption>{{ s.name }}</figcaption>
      </figure>
    </a>
  </li>
  {% endfor -%}
  <li class="spacer"></li>
</ul>

<script src="//cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>
<script>
{% if site.screenshot_api %}

  var apiUrl = 'https://cdn.capture.techulus.in/',
    a = '{{ site.screenshot_api.api_key }}',
    b = '{{ site.screenshot_api.api_secret }}',
    sites = document.getElementById('showcase').getElementsByTagName('a');

  for (var i = 0; i < sites.length; i++) {
    if(sites[i].getElementsByTagName('img')[0].getAttribute('data-src')) continue;
    var href = sites[i].getAttribute('href'),
      inputUrl = encodeURIComponent(href),
      q = 'url=' + inputUrl + '&delay=2&resizeWidth=800&resizeHeight=600',
      hash = md5(b + q),
      resultImgUrl = apiUrl + a + '/' + hash + '/image?' + q;

    sites[i].getElementsByTagName('img')[0].setAttribute('data-src', resultImgUrl);
  }

  var bLazy = new Blazy();

{% else %}

  var sites = document.getElementById('showcase').getElementsByTagName('a');

  for (var i = 0; i < sites.length; i++) {
    var image = sites[i].getElementsByTagName('img')[0];
	var categories = image.getAttribute('data-categories');
	var src = image.getAttribute('data-src');
	if (!src) {
      image.setAttribute('data-src', 'https://loremflickr.com/800/500/' + categories);
    }
  }

  var bLazy = new Blazy();

{% endif %}
</script>

{% endif %}
